#include <windows.h>
1 VERSIONINFO
	FILEVERSION     0,9,3,0
	PRODUCTVERSION  0,9,3,0
	FILEOS          VOS_NT_WINDOWS32
	FILETYPE        VFT_DLL
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "FileDescription", "Gamepad Phoenix"
			VALUE "FileVersion", "0.9.3"
			VALUE "InternalName", "GamepadPhoenix"
			VALUE "LegalCopyright", "(C) 2021-2022 Bernhard Schelling"
			#ifdef X64
			VALUE "OriginalFilename", "GamepadPhoenix64.dll"
			#else
			VALUE "OriginalFilename", "GamepadPhoenix32.dll"
			#endif
			VALUE "ProductName", "Gamepad Phoenix"
			VALUE "ProductVersion", "0.9.3"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0000 0x04B0
	}
}
